ablog>=0.11.0rc1
sunpy-sphinx-theme @ git+https://github.com/dstansby/sunpy-sphinx-theme@structure
ipykernel
ipython
jupyter_client
myst-parser
nbsphinx
sphinx<6.0.0
sphinxext-opengraph
sphinx-design
sphinx_reredirects
