ablog>=0.11.0
ipykernel
ipython
jupyter_client
myst-parser
nbsphinx
sphinx
sphinx_reredirects
sphinx-design
sphinxcontrib-youtube
sphinxext-opengraph
sunpy-sphinx-theme>=2.0.14

# Eclipse notebook
astropy
exifread
ipywidgets
matplotlib
numpy
scikit-image
sunpy[map,net]
