/* SunPy Theme */

body { 
  background: url(../img/background_1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
  color: #ff8603;
  border-color: #ff8603;
}

.btn-outline-inverse:active,
.btn-outline-inverse:hover {
  color: #fff;
  background-color: #ff8603;
  border-color: #ff8603;
}

.bs-docs-nav {
  background-color: #444444;
  border-color: #ffffff;
}

.bs-docs-nav .navbar-brand {
  color: #ff8603;
}
.bs-docs-nav .navbar-nav > li > a {
  color: #fed20b;
}

.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #000;
  background-color: #fed20b;
}

.bs-docs-nav .navbar-toggle:hover {
  background-color: #ffffff;
}

.bs-docs-home,
.bs-header {
  color: #eeeeee;
  background-color: #444444;
}

/*
 * Homepage
 *
 * Tweaks to the custom homepage and the masthead (main jumbotron).
 */

 /* Masthead (headings and download button) */
 .bs-masthead {
  color: #000;
}

.bs-masthead h1 {
  color: #ff8603;
}

@media (min-width: 768px) {
  .bs-masthead .btn-outline-inverse {
    padding: 8px 14px;
  }
}

.logo {
  float: left;
}

/* First level of nav */
.bs-sidenav {
  background-color: #ffffcc;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #ffffcc;
  border-radius: 5px;
}

.bs-sidebar .nav > li > a:focus {
  color: #fff;
}
.bs-sidebar .nav > li > a {
  color: #555555;
}

.bs-sidebar .nav > .active:focus > a {
  color: #222222;
  border-right: 1px solid #444444;
}
