<nav class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.url }}" class="navbar-brand">SunPy</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse bs-navbar-collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li {% if page.slug=="about" %} class="active" {% endif %}>
          <a href="{{ site.url }}/about">About</a>
        </li>
        <li {% if page.slug=="blog" %} class="active" {% endif %}>
          <a href="{{ site.url }}/blog/index.html">Blog</a>
        </li>
        <li>
          <a href="http://docs.sunpy.org/en/stable/">Docs</a>
        </li>
        <li>
          <a href="http://docs.sunpy.org/en/stable/generated/gallery/index.html">Gallery</a>
        </li>
        <li {% if page.slug=="contribute" %} class="active" {% endif %}>
          <a href="{{ site.url }}/contribute">Contribute</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/sunpy/sunpy/tree/stable">Code</a>
        </li>
        <li>
          <a href="https://plus.google.com/+SunpyOrg" rel="publisher">Google+</a>
        </li>
        <li {% if page.slug=="help" %} class="active" {% endif %}>
          <a href="{{ site.url }}/help">Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>