body {
	background-image: url("../_static/img/sunpy-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	color: #212121;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}
@font-face {
	font-family: 'Source Sans Pro', sans-serif;
	src: url('fonts/SourceSansPro-Bold.ttf');
}
a {
	color: #FF5722;
}
a:hover {
	color: #DD2C00;
}
h1 {
	margin-top: 45px;
}
h4 {
	font-weight: 300;
	padding: 15px 0px 15px 0px;
	font-size: 21px;
}
p.content  {
	line-height: 24px;
}
p.content.last {
	margin-bottom: 100px;
}
p.content.noheader {
	padding-top: 15px;
}
li.dropdown.global-container {
	display: none !important;
}
/*Navbar*/
.navbar {
	background-color: #212121;
}
.navbar-default .navbar-brand {
	color: #FF5722;
}
/*End Navbar*/
.center {
	text-align: center;
}
.icon-text{
	color: #FF5722;
	font-size: 64px;
	font-weight: bold;
}
.icon-text.color2{
	color: #212121;
}
.lead {
	max-width: 550px;
	margin: 0 auto;
}
.btn.btn-default.btn1 {
	background-color: #FF5722;
	border-color: #FF5722;
	text-transform: uppercase;
	margin-top: 20px;
}
.btn.btn-default.btn2 {
	background-color: #212121;
	border-color: #212121;
	text-transform: uppercase;
	margin-top: 20px;
}
.bs-sidenav {
	background-color: #212121;
	text-shadow: none;
	margin-top: 50px;
}
.bs-sidenav .nav > li > a:hover,
.bs-sidenav .nav > li > a:focus {
	background-color: #FF5722;
}
.bs-sidenav .nav > li > a {
	color: white;
	padding: 8px 20px;
}
.divider {
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #eee;
}
.livechat {
	border:0; 
	width:100%; 
	height:450px;
	padding-top: 50px;
}
/*Footer*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	border: 0 none;
	font-size: 16px;
	text-align: center;
	background-color: #F5F5F5;
}
.center-footer {
	float: none;
	min-width: 360px;
}
@media (max-width: 510px) {
	footer {
    display: none;
	}
}
