body {
background-image: url("../_static/img/sunpy-bg.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}
/*Navbar*/
.navbar {
background-color: #212121;
}
.navbar-default .navbar-brand {
color: #FF5722;
}
/*End Navbar*/
/*Footer*/
footer {
bottom: 0;
height: 65px;
position: fixed;
width: 100%;
border-top: none;
font-size: 16px;
text-align: center;
background-color: #F5F5F5;
}
.center-footer {
float: none;
min-width: 400px;
height: inherit;
}
/*End Footer*/