body {
	background-color: white;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
}
@font-face {
	font-family: 'Source Sans Pro', sans-serif;
	src: url('fonts/SourceSansPro-Bold.ttf');
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	color: #FE7900;
}
a:hover {
	color: #DD2C00;
}
h1 {
	margin-top: 45px;
}
h4 {
	font-weight: 300;
	padding: 15px 0px 15px 0px;
	font-size: 21px;
}
p.content  {
	line-height: 24px;
}
p.content.last {
	margin-bottom: 100px;
}
p.content.noheader {
	padding-top: 15px;
}
.sunpy-logo {
	width: 30%;
	padding-top: 2em;
}
/*Navbar*/
.navbar {
	background-color: #444444;
}
.navbar-brand.color2 {
	color: white;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #FE7900;
}
.navbar-default .navbar-brand {
	color: #FE7900;
	font-size: 20px;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #FE7900;
}
.navbar-form {
	display: none;
}
.navbar-nav>li>a {
	font-size: 16px;
}
/*End Navbar*/
.center {
	text-align: center;
}
.icon-text{
	color: #FE7900;
	font-size: 96px;
	font-weight: bold;
}
.icon-text.color2{
	color: #444444;
}
.lead {
	max-width: 550px;
	margin: 0 auto;
}
.btn {
	font-size: 17px;
	font-weight: bolder;
}
.btn.btn-default.btn1 {
	background-color: #FE7900;
	border-color: #FE7900;
	text-transform: uppercase;
	margin-top: 20px;
	padding: 10px 21px;
}
a.btn.btn-default.btn1:hover {
	color: #FE7900;
	background-color: white;
}
.btn.btn-default.btn2 {
	background-color: #444444;
	border-color: #444444;
	text-transform: uppercase;
	margin-top: 20px;
}
a.btn.btn-default.btn2:hover {
	color: #444444;
	background-color: white;
}
/*Sidebar*/
.bs-sidenav {
	background-color: #444444;
	text-shadow: none;
	margin-top: 50px;
}
.bs-sidenav a {
	padding-left: 20px;
}
.bs-sidenav .nav > li > a:hover,
.bs-sidenav .nav > li > a:focus {
	background-color: rgba(230, 124, 25, 1);
}
.bs-sidenav .nav > li > a {
	color: white;
	padding: 8px 20px;
}
/*End Sidebar*/
.divider {
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #eee;
}
.livechat {
	border:0; 
	width:100%; 
	height:450px;
	padding-top: 50px;
}
footer {
	display: none;
}
@media (max-width: 510px) {
	.sunpy-logo {
   		width: 75%;
 	}
}
@media (min-width: 768px) {
	.container>.navbar-header, 
	.container-fluid>.navbar-header, 
	.container>.navbar-collapse, 
	.container-fluid>.navbar-collapse {
		margin-right: -30px;
	}
}